



        <ul class="ul">
            <li class="li"><a class="link" href="/Home/Menu1">Меню 1</a></li>
            <li class="li"><a class="link" href="/Home/Menu2">Меню 2</a></li>
            <li class="li"><a class="link" href="/Home/Menu3">Меню 3</a></li>
        </ul>

        <style>
            .ul{
                border:1px solid black; 
                background-color: lightcoral; 
                width:100%;
                border-radius: 7px;
            }
            .li{
                margin: 20px 0;
            }
            .link{
                color:white; 
                text-decoration:none;
            }
            .link:hover{
                color:aqua;
            }
        </style>